<!--<p>navbar works!</p>-->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Himnos Inspirados</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item" routerLinkActive="Active">
                    <a class="nav-link" [routerLink]="['inicio']" aria-current="page">Inicio</a>
                </li>
                <li class="nav-item" routerLinkActive="Active">
                    <a class="nav-link" [routerLink]="['body']">Himnos</a>
                </li>
                <li class="nav-item dropdown" routerLinkActive="Active">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Himnos Lemas
            </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">Misioneritas</a></li>
                        <li><a class="dropdown-item" href="#">Exploradores de Rey</a></li>
                        <li><a class="dropdown-item" href="#">Sed Valientes</a></li>
                        <li><a class="dropdown-item" href="#">Sembrare</a></li>
                        <li><a class="dropdown-item" href="#">Juventud Marchad</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Coritos</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                </li>
            </ul>
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>